<!--The content below is only a placeholder and can be replaced.-->


<div>
    <h2>Angular 6 Bender Example </h2>
    
    <bender>
      <mygroup title="First Group">this is the content</mygroup>
      <mygroup title="Second Group">
            <input type="text" class="form-control" />
            <button>Send</button>
      </mygroup>
      <mygroup title="Third Group">this is the content</mygroup>
      <mygroup title="Fourth Group">this is the content</mygroup>
      <mygroup title="Fifth Group">this is the content</mygroup>
    </bender>
</div>