.mypanel {
    background-color: white;
    color: #222;
  }
  
  .mypanel .panel-heading {
    background-color: #ccc;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #666;
  }
  
  .mypanel .panel-body {
    padding: 10px;
  }
  
  .mypanel .panel-body.hidden {
    display: none;
  }

  .mypanel .panel-heading:hover {
    background-color: rgb(168, 165, 165);
  }
  
  .panel-heading:after {
    content: '\2b9b'; /* Unicode character for down arrowhead */
    float: right;
  }

  .panel-heading.active:after {
    content: "\2b99"; /* Unicode character for up arrowhead */
    float: right;
  }

  .mypanel .panel-heading.active {
    background-color: rgb(168, 165, 165);
  }